﻿
<main>
    <h2>About</h2>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
    <p>
        <img src="~/Content/Images/dont_break_the_back_button.jpg" />
    </p>
    <p>
        <a href="http://wwwo.bing.com/">Link to Bing!</a>
    </p>
</main>
