﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Account", "Index", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Login", "Login", "Account")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="dynamic-body">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        if (Modernizr.history) {
            $(function () {
                String.prototype.decodeHTML = function () {
                    return $('<div>', { html: '' + this }).html();
                };

                var $main = $('.dynamic-body'),
                    init = function () {
                        console.log('Page loaded...');
                    },
                    afterAjaxLoad = function (html) {
                        document.title = html
                            .match(/<title>(.*?)<\/title>/)[1]
                            .trim()
                            .decodeHTML();

                        console.log('Ajax content loaded..');
                        init();
                    },
                    loadPage = function (href) {
                        $main.load(href + ' main>*', afterAjaxLoad);
                    };

                init();

                $(window).on('popstate', function (e) {
                    if (e.originalEvent.state !== null) {
                        loadPage(location.href);
                    }
                });

                $(document).on('click', 'a', function () {
                    var href = $(this).prop('href');

                    if (href.indexOf(document.domain) > -1 || href.indexOf(':') === -1) {
                        history.pushState({}, '', href);
                        loadPage(href);

                        return false;
                    }
                });
            });
        }
    </script>
</body>
</html>